<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelMania</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.min.js"></script>
</head>
<body>
    <header class="custom-header">
        <div class="custom-header-overlay">
            <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark bg-dark bg-opacity-50 mb-5 shadow-lg mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">TM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse navbar-right collapse  d-lg-flex justify-content-end">
                        <ul class="navbar-nav" id="navbar-selections">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Most-Visited">Most Visited</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Testimonials">Testimonials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <section id="Home">
                <div class="text-center">
                    <h1 class="display-1 text-light custom-bold-head">TravelMania</h1>
                    <h4 class="display-7 text-light font-weight-bold">Plan. Pack. Proceed.</h4>
                </div>

                <div class="d-flex justify-content-center align-items-center p-5 m-3">
                    <form class="col-10 row-md-4 bg-opacity-50">
                        <input class="form-control custom-placeholder custom-input p-3 bg-info bg-opacity-60 rounded-pill" type="search" placeholder="Enter your dream destination..." aria-label="Search">
                    </form>


                </div>
            </section>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="row justify-content-center">
            Copyright &copy; designed and developed by Farida Moukhtar
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/responsiveNavs.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
