@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-toggler {
    float: right;
}

.navbar-collapse {
    text-align: right;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    margin-bottom: 60px;
    background: #000000;
    font-family: "Montserrat", sans-serif;
}

.custom-header {
    background-image:url('../assets/travel.svg');
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    height:70vh;
    z-index:1;
}

.custom-header-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    position: absolute;
    width:100%;
    height:100%;
    z-index:2;
}

.custom-bold-head {
    font-weight: bold;
}

.custom-bold-sub {
    font-weight: 500;
}

.custom-placeholder::placeholder {
    font-style: italic;
}

.custom-input {
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.img-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img-item img{
    height: 100%;
    width:100%;
    padding:10px;
    border-radius:30px;
}

.img-item img:hover {
    cursor:pointer;
}

.horizontal-container {
    display: flex;
    overflow: scroll;
    justify-content: space-around;
    align-items: center;
    margin-block:40px;
}

.carousel-item {
    height: 50vh;
    width: 100%;
    padding-block: 15px;
}

.carousel-card {
    height: 85%;
    width: 75%;
    padding: 10px;
    background-color: grey;
    margin: auto;
    border-radius: 30px;
    background: rgb(25,25,24);
    background: linear-gradient(90deg, rgba(25,25,24,1) 0%, rgba(42,42,42,1) 42%);
}
