
@page
@model IndexModel
@{
    ViewData["Title"] = "TravelMania";
}

<!--  different page sections are implemented here -->

<section id="Most-Visited">

    <div class="text-left text-light">
        <h1 class="display-4 custom-bold-sub">Most Visited</h1>
    </div>
    <div class="horizontal-scrolling">
        <div class="img-item">
            <img src="~/assets/dubai.jpg" alt="dubai" class="custom-img">
            <h4 class="text-light">
                Dubai
            </h4>
        </div>
        <div class="img-item">
            <img src="~/assets/rome.jpg" alt="rome" class="custom-img">
            <h4 class="text-light">
                Rome
            </h4>
        </div>
        <div class="img-item">
            <img src="~/assets/bali.jpg" alt="bali" class="custom-img">
            <h4 class="text-light">
                Bali
            </h4>
        </div>
        <div class="img-item">
            <img src="~/assets/turkey.jpg" alt="turkey" class="custom-img">
            <h4 class="text-light">
                Turkey
            </h4>
        </div>
    </div>

</section>


<section id="Testimonials">
    <div class="text-left text-light">
        <h1 class="display-4 custom-bold-sub">Testimonials</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</section>
