@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-toggler {
    float: right;
}

.navbar-collapse {
    text-align: right;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    margin-bottom: 60px;
    background: #000000;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 10px #000000;
}

.custom-header {
    background-image: url('../assets/travel.webp');
    background-blend-mode: luminosity;
    background-position: center;
    background-position-y:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    height: fit-content;
    z-index: 1;
}

.custom-header-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    width:100%;
    height:fit-content;
    top:0;
    bottom:0;
    z-index:2;
}

.custom-bold-head {
    font-weight: bold;
}

.custom-bold-sub {
    font-weight: 500;
}

.custom-light-sub {
    font-weight: 200;
}

.custom-placeholder::placeholder {
    font-style: italic;
}

.custom-input {
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.img-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img-item img{
    height: 100%;
    width:100%;
    padding:10px;
    border-radius:30px;
}

.img-item img:hover {
    cursor:pointer;
}

.horizontal-container {
    display: flex;
    overflow: scroll;
    justify-content: space-around;
    align-items: center;
}

.carousel-item {
    height: 55vh;
    width: 100%;
    padding-block: 15px;
    position: relative;
}

.carousel-card {
    height: 80%;
    width: 75%;
    margin: auto;
    border-radius: 30px;
    background-color: rgb(25,25,24);
    background-image: linear-gradient(90deg, rgba(25,25,24,1) 0%, rgba(42,42,42,1) 42%);
}


.image {
    height: 1em;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.custom-dark {
    background-color: #ffffff;
}

@media only screen and (max-width: 900px) {

    .custom-header-overlay {
        height: 45vh;
    }

    .carousel-item {
        height: 50vh;
    }

}